body {
  font-family: Arial, sans-serif;
  background-color: #552c2c;
  color: #0c0f14;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #c0abab;
  padding: 50px;
  border-radius: 60px;
}

h1 {
  text-align: center;
  color: #a00b0b;
  margin-bottom: 30px;
  font-size: 40px;
}

p {
  font-size: 40px;
  margin: 30px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  color: rgb(58, 68, 73);
  background-color: #dae087;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #16ce44;
}